/* Modify background color of navbar */

.navbar-light, .dropdown-menu, .dropdown-item:focus {
  /* lighter bg for navbar */
  background-color: #AB4A4A;

  /* darker */
  /* background-color: #543A2E; */
}

.dropdown-item:hover {
  background-color: #896654;
  color: white;
}

.navbar-link, .navbar-link:hover, .dropdown-item {
  color: white;
  font-size: 15px;
}



.nav-item {
  text-align: left;
}

body {
  background-image: url("/static/img/unsplash.jpg");
  background-size: 100%;
}

.signup-form, .login-form, .logout-form {
  border-radius: 25px;
  background-color: white;
  text-align: center;
  margin: auto;
  margin-top: 50px;
  width: 500px;
  padding: 2rem;
  color: #69311C;
}

.form-input {
  border-radius: 12px;
  outline-color: #684132;
  border: none;
}

.input-item {
  margin: 2px;
  color: #69311C;
  border-radius: 8px;
}

.btn-submit {
  background-color: #FD9169;
  outline-color: #FD9169;
  color: #FFEEE8;
  border-radius: 12px;
  margin-top: 2px;
}

.btn-submit:hover {
  background-color: #FE7645;
  outline-color: #FD9169;
  color: #FFEEE8;
}

a.link-to:link, a.link-to:visited {
  color: #88A981;
}

a.link-to:hover {
  color: #7D9878;
}

.bubble {
  position: relative;
  width: 10;
  height: 130px;
  padding: 20px;
  background: #EBEAE9;
  border-radius: 22px;
  border: #684132 solid 3px;
  margin-top: 50px;
  color: #684132;
}

.bubble:after {
  content: '';
  position: absolute;
  border-style: solid;
  border-width: 7px 0 7px 25px;
  border-color: transparent #EBEAE9;
  display: block;
  width: 0;
  z-index: 1;
  right: -25px;
  top: 80px;
}

.bubble:before {
  content: '';
  position: absolute;
  border-style: solid;
  border-width: 9px 0 9px 27px;
  border-color: transparent #684132;
  display: block;
  width: 0;
  z-index: 0;
  right: -30px;
  top: 78px;
}

.drug-search-bar-container, .food-search-bar-container {
  border-radius: 25px;
  background-color: white;
  text-align: center;
  margin: auto;
  margin-top: 10px;
  width: 500px;
  padding: 1rem;
  color: #69311C;
}

.individual-recall, .recallIndex, .not-logged-in, .no-saved-recalls, .about-me-text {
  border-radius: 25px;
  background-color: rgba(238, 227, 224, 0.6);
  margin: auto;
  margin-top: 10px;
  color: #4D3A30;
  padding: 30px;
}

.recall-field {
  margin: 5px;
}

.searchbar-header, .about-me-header {
  color: #4D3A30;
}

.favorite-index-item {
  border-radius: 25px;
  background-color: rgba(238, 227, 224, 0.6);
  margin: auto;
  margin-top: 20px;
  color: #4D3A30;
  padding: 5px;
  /* display: inline-block; */
}

.saved-recalls-text {
  color: #4D3A30;
}

.user-name-index {
  color: #4D3A30;
  margin: 20px;
}

.about-me-pic {
  height: 100%;
  width: 100%;
  border-radius: 50px;
}

.website-icon {
  width: 32px;
  margin-bottom: 5px;
  margin-left: 20px;
  margin-right: 5px;
}

.about-me-text {
  line-height: 150%;
}

.about-me-header {
  color: #4D3A30;
  margin: 20px;
}