/* Modify background color of navbar */
.navbar-light {
  background-color: #F18972;
  
}

.navbar-link {
  color: white;
  font-size: 15px;
}

.nav-item {
  text-align: left;
}

body {
  background-image: url("/static/img/background-image.jpg");
  background-size: 80%;
}

.signup-form, .login-form {
  border-radius: 25px;
  background-color: white;
  text-align: center;
  margin: auto;
  margin-top: 50px;
  width: 500px;
  padding: 2rem;
}

.form-input {
  border-radius: 50px;
}

.input-item {
  margin: 2px;
}