/* Modify background color of navbar */

.navbar-light, .dropdown-menu, .dropdown-item:focus {
  /* lighter bg for navbar */
  background-color: #3C0400;

  /* darker */
  /* background-color: #543A2E; */
}

.dropdown-item:hover {
  background-color: #896654;
  color: white;
}

.navbar-link, .navbar-link:hover, .dropdown-item {
  color: white;
  font-size: 15px;
}

.nav-item {
  text-align: left;
}

.recallama-brand-name {
  margin: 10px;
}

.welcome-banner {
  color: #4D3A30;
}

.welcome {
  
  height: 200px;
}

.homepage-logo {
  padding-top: 150px;
}

.signup-form, .login-form, .logout-form {
  border-radius: 10px;
  background-color: rgba(255, 255, 255, 0.6);
  text-align: center;
  margin: auto;
  margin-top: 50px;
  width: 500px;
  padding: 2rem;
  color: #4D3A30;
}

.form-input {
  border-radius: 12px;
  outline-color: #684132;
  border: none;
}

.input-item {
  margin: 2px;
  color: #69311C;
  border-radius: 8px;
}

.btn-submit {
  background-color: #EE6023;
  outline-color: #EE6023;
  color: #FFEEE8;
  border-radius: 12px;
  margin-top: 2px;
}

.btn-submit:hover {
  background-color: #FE7645;
  outline-color: #FD9169;
  color: #FFEEE8;
}

a.link-to:link, a.link-to:visited {
  color: #579E48;
}

a.link-to:hover {
  color: #7D9878;
}

.bubble {
  position: relative;
  width: 10;
  height: 130px;
  padding: 20px;
  background: rgba(255, 255, 255, 0.8);
  border-radius: 22px;
  border: #684132 solid 3px;
  margin-top: 50px;
  color: #684132;
}

.bubble:after {
  content: '';
  position: absolute;
  border-style: solid;
  border-width: 7px 0 7px 25px;
  border-color: transparent rgba(255, 255, 255, .95);
  display: block;
  width: 0;
  z-index: 1;
  right: -25px;
  top: 80px;
}

.bubble:before {
  content: '';
  position: absolute;
  border-style: solid;
  border-width: 9px 0 9px 27px;
  border-color: transparent #684132;
  display: block;
  width: 0;
  z-index: 0;
  right: -30px;
  top: 78px;
}

.drug-search-bar-container, .food-search-bar-container {
  border-radius: 10px;
  background-color: rgba(255, 255, 255, 0.6);
  text-align: center;
  margin: auto;
  margin-top: 10px;
  width: 500px;
  padding: 1rem;
  color: #4D3A30;
}

.individual-recall, .recallIndex, .not-logged-in, .no-saved-recalls, .about-me-text {
  border-radius: 10px;
  background-color: rgba(255, 255, 255, 0.7);
  margin: auto;
  margin-top: 10px;
  color: #4D3A30;
  padding: 30px;
}

.about-me-text {
  background-color: rgba(255, 255, 255, 0.6);
}

.recall-field {
  margin: 5px;
}

.form-group {
  margin: 0;
}

.searchbar-header, .about-me-header {
  color: #4D3A30;
}

.favorite-index-item {
  border-radius: 10px;
  background-color: rgba(255, 255, 255, 0.4);
  margin: auto;
  margin-top: 20px;
  color: #4D3A30;
  padding: 5px;
  
}

.saved-recalls-text {
  color: #4D3A30;
}

.user-name-index {
  color: #4D3A30;
  margin: 20px;
}

.about-me-pic {
  width: 100%;
  border-radius: 10px;
}

.website-icon {
  width: 24px;
  /* margin-bottom: 5px; */
  margin-left: 20px;
  margin-right: 5px;
}

.about-me-text {
  line-height: 150%;
  margin: 0;
}

.about-me-header {
  color: #4D3A30;
  margin: 20px;
}

.recall-card {
  border-radius: 10px;
  background-color: rgba(255, 255, 255, 0.4);
  margin: auto;
  margin-top: 10px;
  color: #4D3A30;
  padding: 20px;
}

.recall-header {
  margin-bottom: 20px;
}

.save-recall {
  border-radius: 25px;
  margin: auto;
  margin-top: 10px;
  color: #4D3A30;
  padding: 10px;
}

.email-icon {
  width: 24px;
  margin-right: 5px;
}

.comment-box {
  width: 100%;
}

.recall-container {
  margin: 10;
}

body {
  background-image: url("/static/img/background.png");
  /* background-image: url("/static/img/unsplash.jpg"); */
  background-size: 100%;
}