/* Modify background color of navbar */

.navbar-light {
  background-color: #785A49;
  /* background-color: #FA9874; */
}

.navbar-link, .navbar-link:hover {
  color: white;
  /* color: #7F3C23; */
  font-size: 15px;
}

.nav-item {
  text-align: left;
}

body {
  /* background-image: url("/static/img/nordwood-themes.jpg"); */
  background-image: url("/static/img/unsplash.jpg");
  background-size: 100%;
}

.signup-form, .login-form {
  border-radius: 25px;
  background-color: white;
  text-align: center;
  margin: auto;
  margin-top: 50px;
  width: 500px;
  padding: 2rem;
  color: #69311C;
}

.form-input {
  border-radius: 12px;
  outline-color: #684132;
  border: none;
}

.input-item {
  margin: 2px;
  color: #69311C;
  border-radius: 8px;
}

.btn-submit {
  background-color: #FD9169;
  outline-color: #FD9169;
  color: #FFEEE8;
  border-radius: 12px;
}

.btn-submit:hover {
  background-color: #FE7645;
  outline-color: #FD9169;
  color: #FFEEE8;
}

a.link-to:link, a.link-to:visited {
  color: #88A981;
}

a.link-to:hover {
  color: #7D9878;
}

.bubble {
  position: relative;
  width: 10;
  height: 130px;
  padding: 30px;
  background: #fbfbfb;
  border-radius: 22px;
  border: #684132 solid 3px;
  margin-top: 50px;
  color: #684132;
}

.bubble:after {
  content: '';
  position: absolute;
  border-style: solid;
  border-width: 7px 0 7px 25px;
  border-color: transparent #fbfbfb;
  display: block;
  width: 0;
  z-index: 1;
  right: -25px;
  top: 80px;
}

.bubble:before {
  content: '';
  position: absolute;
  border-style: solid;
  border-width: 9px 0 9px 27px;
  border-color: transparent #684132;
  display: block;
  width: 0;
  z-index: 0;
  right: -30px;
  top: 78px;
}
