{% extends 'base.html' %}
{% block title %} Recallama {% endblock %}
{% block body %}
  <h2>Sign up for a Recallama account</h2>

  <div id="signup-form">
    <form action='/signup' method="POST">
      <p>
        First name <input id='fname' type='text' name='fname' required=True> 
      </p>
      <p>
        Last name <input id='lname' type='text' name='lname' required=True> 
      </p>
      <p>
        Email <input id='email' type='text' name='email' required=True> 
      </p>
      <p>
        Password <input id='password' type='password' name='password' required=True> 
      </p>
      <input type='submit'>
    </form>
  </div>

  </br> 
  <a href='/login'>Already have an account? Click here to Login</a>

{% endblock %}

{% block js %}
	<!-- <script src="/static/js/signup.jsx" type="text/jsx"></script> -->
{% endblock %}
